<div class="dashboard">
  <header class="dashboard-header"></header>
  <div class="content">
    <p>
      Hi! I’m Jason. Here are some things about me:
    </p>
    <p>
      I live in Oregon.
    </p>
    <p>
      I’m a writer. Mostly horror. I’m currently working on my first novel, Where the Dead Seep Through,
      the story of six mountain climbers, trapped in a supernatural storm and haunted by the vengeful
      ghost of a centuries-old priest.
    </p>
    <p>
      Some of my short fiction has appeared in Pseudopod,
      <a href="https://pseudopod.org/people/jason-rush/" target="_blank">here</a>.
    </p>
    <p>
      I’m also a software developer.
    </p>
    <p>
      You can <a href="mailto:jasonrush@jasonrush.com">email me</a>, find me on
      <a href="https://twitter.com/thejasonrush">Twitter</a>,
      <a href="https://www.facebook.com/diminish7">Facebook</a>,
      <a href="https://github.com/diminish7">Github</a>,
      <a href="https://www.goodreads.com/user/show/5524830-jason-rush">Goodreads</a>, and
      <a href="https://www.linkedin.com/in/jlrush">LinkedIn</a>,
      or check out my blogs:
    </p>
  </div>
  <p class="footer">
    <a href="/#/blogs/{{blog.name}}/posts" ng-repeat="blog in blogs">
      <img src="/images/{{blog.name}}.png" alt="{{blog.title}}" class="{{blog.name}}-logo" />
    </a>
  </p>
</div>
