<div id="header">
  <div class="header-logout-link-container">
    <logout></logout>
  </div>
  <div class="menu-link" ng-show="blogName">
    <a href="/#/blogs/{{blogName}}/menu"><img src="/images/menu.png" alt="Menu" /></a>
  </div>
  <div class="header-link">
    <a href="/#/"><img src="{{headerImage}}" alt="Header" /></a>
  </div>
  <div class="sub-menu" ng-show="showSubMenu">
    <div id="link-containers">
      <div id="about-link-container" class="link-container">
        <a href="/#/"><img src="/images/about-label.png" alt="About" /></a>
      </div>
      <div id="dev-link-container" class="link-container">
        <a href="/#/blogs/dev/posts"><img src="/images/dev-label.png" alt="Dev" /></a>
      </div>
      <div id="writing-link-container" class="link-container">
        <a href="/#/blogs/writing/posts"><img src="/images/writing-label.png" alt="Writing" /></a>
      </div>
    </div>
  </div>
</div>