<div class="menu">
  <new-post-link></new-post-link>
  <h3>About Me</h3>
  <div class="profile-info-container">
    <p>
      JASON RUSH
      <br/>
      LOUISVILLE, CO
      <br/>
      UNITED STATES
    </p>
    <p>
      <a href="/">More...</a>
    </p>
  </div>
  <a href="/" class="bordered">
    <img src="/images/jason.jpg" alt="Jason" />
  </a>
  <h3>Previous Posts</h3>
  <div class="link-container" ng-repeat="post in recent">
    <a href="/#/blogs/{{blog.name}}/posts/{{post.slug}}">{{post.title}}</a>
  </div>
  <h3>Archives</h3>
  <div class="link-container" ng-repeat="month in months">
    <a href="/#/blogs/{{blog.name}}/posts/year/{{month.year}}/month/{{month.month}}">{{month.month_name}}, {{month.year}}</a>
  </div>
</div>