<menu class="menu-bar"></menu>
<div class="menu-link">
  <a href="/#/blogs/{{blog.name}}/menu">Menu</a>
</div>
<div class="posts">
  <div class="post" ng-repeat="post in posts" ng-hide="post.isDeleted">
    <edit-delete-links post="post" posts="posts"></edit-delete-links>
    <h3>
      <a href="/#/blogs/{{blog.name}}/posts/{{post.slug}}" class="post-title">{{post.title}}</a>
    </h3>
    <div class="byline">
      {{post.created_at | date:'MMM d, y h:mm: a'}} (by {{post.author_first_name}})
    </div>
    <div class="body" ng-bind-html="post.summaryOrBody" >
      {{post.summaryOrBody | trustedHtml}}
    </div>
  </div>
</div>