/* GENERAL ADMIN */

#error {
  background-color: #FFB2B2;
  border: 1px solid #E6A0A0;
  color: #FF0000;
  font-size: small;
  width: 100%;
  margin: 5px;
  display: inline-block;
}

.button-container {
  text-align: right;
  padding-right: 10px;
}

form {
  display: inline-block;
  border: 1px solid #b5b5b5;
}
#login-container, #post-form-container {
  text-align: center;
}

/* LOGIN FORM */

#login {
  width: 265px;
  padding-right: 10px;
}

#login label {
  display: inline-block;
  width: 80px;
  text-align: right;
}

#login input {
  width: 150px;
}

#login .remember-me-container {
  display: block;
  text-align: right;
  padding-right: 10px;
}

#login .remember-me-container label {
  width: auto;
}

#login-container .login-header-link {
  text-align: center;
  padding-bottom: 30px
}

.login-header-link img {
  width: 335px;
}

/* POST FORM */
#post-form {
  text-align: left;
  padding-left: 10px;
  padding-right: 20px;
  width: 80%;
}

#post-form input {
  width: 100%;
}

#post-form textarea {
  width: 100%;
  height: 300px;
}