@font-face {
  font-family: TravelingTypewriter;
  src: url("../fonts/TravelingTypewriter.ttf");
}

body {
  font-family: TravelingTypewriter, "Courier New", Courier, monospace;
  color: #000000;
  background-color: #e7e7e7;
}

a {
  color: #0000ff;
  border: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  text-decoration: none;
  border: 0 none;
}

blockquote {
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  padding: 0 5px 0 5px;
}

#header, p.footer {
  width: 100%;
  text-align: center;
}

.dashboard {
  text-align: center;
}

.dashboard .content p {
  display: inline-block;
  text-align: left;
}

@media (max-width: 623px) {
  .footer .dev-logo {
    width: 30%;
  }
  .footer .writing-logo {
    width: 60%;
  }
}

@media (min-width: 921px) {
  .dashboard .content p {
    width: 900px;
  }
}

@media (max-width: 920px) {
  .dashboard .content p {
    width: 95%;
  }
}
