@font-face {
  font-family: TravelingTypewriter;
  src: url("../fonts/TravelingTypewriter.ttf");
}

body {
  font-family: TravelingTypewriter, "Courier New", Courier, monospace;
  color: #000000;
  background-color: #e7e7e7;
}

a {
  color: #0000ff;
  border: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  text-decoration: none;
  border: 0 none;
}

#header, .footer {
  width: 100%;
  text-align: center;
}

#login-link-container {
  font-size: small;
}

.dashboard #login-link-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.menu #login-link-container {
  /*text-align: right;*/
  padding-top: 75px;
  padding-bottom: 20px;
}

@media (max-width: 623px) {
  .footer .dev-logo {
    width: 30%;
  }
  .footer .writing-logo {
    width: 60%;
  }
}