div.post {
  background-color: #FFFFFF;
  margin-top: 10px;
}

div.post div.header {
  height: 30px;
  border-bottom: 2px solid #975267;
}

div.post div.header div.title {
  padding: 8px 0 0 2px;
  float: left;
}

div.post div.header div.title a {
  color: #000000;
  border: none;
  text-decoration: none;
  font-size:1.2em;
}

div.post div.header div.title a:hover {
  text-decoration: underline;
}

div.post div.body {
  background: url(/images/post-bg.png);
  padding: 0 10px 0 10px;
}

@media (min-width: 624px) {
  .posts {
    width: 65%;
  }
}