<div class="post">
  <h3>
    <%= link_to post.title, blog_post_path(post, blog_id: post.blog), class: "post-title" %>
  </h3>
  <div class="byline">
    <%= post.created_at.strftime("%b %e, %Y %l:%M %p") %> (by <%= post.author.first_name %>)
  </div>
  <div class="body">
    <%= raw(summary ? post.summary : post.body) %>
  </div>
</div>
