<%= render partial: "shared/menu", locals: { blog: @blog, is_menu_bar: true } %>
<div class="posts">
  <% @posts.each do |post| %>
    <%= render partial: "post", locals: { post: post } %>
  <% end %>
</div>